body {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}
.sidebar {
  background-color: #fff;
}

.readings {
  background-color: #fff;
  text-align: center;
}

.box {
  background: #cf1b03;
  /* width: 100px; */
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.box .indicator {
  font-size: 2.5rem;
}
.box .number {
  font-size: 1.5rem;
}
